.button {
    background-color: #040dfe;
    /* Green */
    border: 5px solid white;
    border-radius: 6px;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 1px;
    cursor: pointer;
    width: 250px;
}

.button1:hover {
    background-color: #fdfdfdfd;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);

}

.button2:hover {
    background-color: #fdfdfddf;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}

.button3:hover {
    background-color: #fdfdfd;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}

.button4:hover {
    background-color: #fdfdfd;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}

.button5:hover {
    background-color: #fdfdfd;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}

.logo {
    text-align: center;
}

.botoes {
    text-align: center;
}

body {
    margin: 0px 20px 50px 0px;
    margin-left: 20px;

}

div {
    background-color: rgba(127, 255, 212, 0.035);

}

.fonte1,
.fonte2 {
    font-size: 30px;
    text-align: center;

}

.fonte10{
    font-size: 30px;
    text-align: center;
    background-color: rgba(78, 237, 255, 0.613);
 
}

.header {
    background-color: #f1f1f188;
    text-align: center;
    font-size: 35px;
}


.passo1 {
    font-size: 28px;
    text-align: justify;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(78, 237, 255, 0.613);
    border: 5px solid white;
    border-radius: 6px;
}

.passo2 {
    font-size: 28px;
    text-align: justify;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(78, 237, 255, 0.613);
    border: 5px solid white;
    border-radius: 6px;

}

.passo3 {
    font-size: 28px;
    text-align: justify;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(78, 237, 255, 0.613);
    border: 5px solid white;
    border-radius: 6px;
}

.passo1,
.passo2,
.passo3 {
    padding: 10px;
}

.logo {
    position: absolute;
    left: 25px;
    margin-left: 25px;
    height: 150px;
    border: 6px solid white;
    border-radius: 10px;

}

.titulos {
    border: 6px solid rgb(34, 89, 253);
    border-radius: 10px;
    color: #0208bd;
    background-color: #fdfdfd;
}

.img_logo {
    width: 80%;
    height: auto;
    align-items: center;
}

@media only screen and (max-width: 360px) {
    body {
        margin: 0px auto;
        margin-left: 10px;
    }

    footer {
        padding: 10px;
    }

    .button {
        width: 190px;
    }

    .titulos {
        font-size: 20px;
    }

}