@media only screen and (min-width: 720px) {
.button{
    background-color: #0208bd; /* Green */
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 1px;
    cursor: pointer;
}
.button1:hover{
    background-color: #fdfdfd8c;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);

}
.button2:hover{
    background-color: #fdfdfd8c;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}
.button3:hover{
    background-color: #fdfdfd8c;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}
.button4:hover{
    background-color: #fdfdfd8c;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}
.button5:hover{
    background-color: #fdfdfd8c;
    color: rgb(0, 9, 171);
    border: 5px solid rgb(34, 89, 253);
}
.logo{
    text-align: center;
}        
.botoes{
    text-align: center;
}
body{
    margin: 0px 50px 20px 0px;
    margin-left: 20px;
    /* background-image: url("../"); */
    /* background-repeat: no-repeat;     */
  
}
div{
    background-color: rgba(127, 255, 212, 0);

  
}
img{
    height: 100%;
    width: auto;
}

.fonte1,.fonte2 {
    font-size: 30px;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;  
  }
  
 
.passo1{
    font-size: 28px;
    text-align: justify ;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(168, 251, 251, 0.419);
    border: 5px solid white;
    border-radius: 6px;
}  

.passo2{
    font-size: 28px;
    text-align: justify ;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(145, 236, 250, 0.842);
    border: 5px solid white;
    border-radius: 6px;
    
} 
.passo3{
    font-size: 28px;
    text-align: justify ;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: rgba(1, 183, 255, 0.633);
    border: 5px solid white;
    border-radius: 6px;
} 
.passo1, .passo2, .passo3{
    padding: 10px;
}

.logo{
    position: absolute;
    left: 0;
    margin-left: 25px;
    height: 135px;
    border: 6px solid white;
    border-radius: 10px;
    
}
.titulos{
    margin-left: 205px;
    border: 6px solid rgb(34, 89, 253);
    border-radius: 10px;
    color: #0208bd;    
}


 footer {
    background-color: #f1f1f1;
    padding: 100px;
    text-align: center;
    color: black;
  }
   
  }
