body{
    background-color: cornsilk;
    padding: 20px;
    margin: 20px;
    border:2px solid;
    
}
label, input, button{
    display:block;
    border-radius: 15px;
}
textarea{
border-radius: 15px;
}
button{
    background-color: crimson;
    color: azure;
}
