/* @media only screen and (min-width: 720px) { */

body {
    margin: 0px 20px 50px 0px;
    margin-left: 20px;
}

main {
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;

}

.div_formulario {
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.729);
    padding: 20px;
}

label,
input,
button {
    display: block;
    border-radius: 60px;
    width: 100%;
}

textarea {
    border-radius: 100px;
    width: 100%;
}

button {
    background-color: crimson;
    color: azure;



}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 360px) {
    body {
        margin: 0px auto;
        margin-left: 10px;
    }

    footer {
        padding: 10px;
    }

    .button {
        width: 190px;
    }

    .titulos {
        font-size: 20px;
    }

}

/* } */