body {
    background-color: cornsilk;
}

.button {
    background-color: rgba(2, 53, 221, 0.93);
    /* Green */
    border: 5px solid rgb(255, 254, 254);
    border-radius: 6px;
    color: rgb(255, 253, 253);
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 0px;
    cursor: pointer;
    width: 250px;
}

label,
button {
    display: block;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    align-items: center;
}

textarea {
    border-radius: 15px;

}

button {
    background-color: crimson;
    color: azure;
}

input,
textarea {
    width: 90%;
    /*margin-left: 50px;*/
    border-radius: 15px;

}

main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}


form {
    margin: 0 auto;
    border: 2px solid;
    border-radius: 6px;
    background-color: rgba(0, 143, 253, 0.688);
    align-items: center;
    width: 50%;
    text-align: center;
}

.botao_enviar {
    margin: 0 auto;
}

H2 {
    background-color: aliceblue;
    text-align: center;
}

.button button6 {
    background-color: rgba(243, 203, 25, 0.77);
}

footer {
    background-color: rgba(255, 255, 255, 0.559);
}

.env{
    align-items: center;
    margin: auto;
}
@media only screen and (max-width: 851px) {

    input,
    textarea {
        width: 80%;


    }

    form {
        margin: 0 auto;
        border: 2px solid;
        border-radius: 6px;
        background-color: rgba(0, 143, 253, 0.688);
        align-items: center;
        width: 100%;
        text-align: center;
    }
}