body{
    background-color: cornsilk;
    padding: 20px;
    margin: 20px;
   
    
}
label, button{
    display:block;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    align-items: center;
}
textarea{
border-radius: 15px;

}
button{
    background-color: crimson;
    color: azure;
}
input,textarea{
    width: 90%;
    margin-left: 50px;
    border-radius: 15px;  
     
}
form{
    padding: 20px;
    margin: 20px;
    border:2px solid;  
    border-radius: 6px;
    background-color: rgba(45, 68, 243, 0.76);

}
  
