@media only screen and (max-width: 780px) {
    body {
        width: 90%;
    }

    .logo,
    header {
        text-align: center;

    }

    .button button6 {
        background-color: gold;
    }

    .button {
        background-color: #0208bd;
        /* Green */
        border: 2px solid white;
        border-radius: 6px;
        color: white;
        padding: 15px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 3px 1px;
        cursor: pointer;
        width: 250px;
    }

    .button:hover {
        background-color: #ca74038c;
        color: #0208bd;
        border: 1px solid rgb(255, 255, 255);
    }

    .tituloindex1,
    .tituloindex2,
    .titulo1,
    .titulo2,
    .titulo3 {
        color: rgb(231, 254, 255);
        background-color: #0208bd;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 50px;

    }

    .titulos {
        margin-left: 2px;
        border: 6px solid rgb(4, 228, 236);
        font-size: 20px;
        border-radius: 10px;
        text-align: center;

    }


    .fonte1,
    .fonte2,
    .fonte3,
    p {
        font-size: 18px;
        text-align: justify;
    }



    .img_logo {
        align-items: center;
        height: 30%;
        background-color: rgba(255, 255, 255, 0.48);


    }

    .img_roda {
        align-items: center;
        height: 30%;


    }



    .passo1 {
        font-size: 20px;
        text-align: justify;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 20px;
        background-color: rgba(168, 251, 251, 0.419);

    }

    .passo2 {
        font-size: 20px;
        text-align: justify;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 20px;
        background-color: rgba(145, 236, 250, 0.842);
        border: 5px solid white;
        border-radius: 6px;

    }

    .passo3 {
        font-size: 20px;
        text-align: justify;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 20px;
        background-color: rgba(1, 183, 255, 0.633);
        border: 5px solid white;
        border-radius: 6px;

    }

    .passo1,
    .passo2,
    .passo3 {
        padding: 10px;
    }

}



/* Fim Responsive Web Design - Media Queries para celular */